# URL de connexion MongoDB Atlas (à remplacer par la vôtre)
MONGODB_URI=mongodb+srv://utilisateur:motdepasse@cluster.mongodb.net/technopasteur?retryWrites=true&w=majority

# Mot de passe pour l'Espace Professeur principal (administrateur & suivi)
MOT_DE_PASSE_PROF=à_definir_par_moi

# Mot de passe pour la saisie et consultation des notes de rapport de stage par les enseignants
MOT_DE_PASSE_PROF_STAGE=à_definir_par_moi

# Clé secrète JWT pour la signature des jetons de session
JWT_SECRET=à_definir_par_moi

# Port d'écoute du serveur backend (défaut: 3000)
PORT=3000
